<footer class="footer py-3">
  <p class="text-center text-body-secondary">
    © 2024
    <a
      href="https://www.linkedin.com/in/oleksandr-moskaliuk/"
      target="_blank"
      rel="noopener noreferrer"
      title="LinkedIn"
      >OleksPM</a
    >
  </p>
</footer>
