<header class="head py-2">
  <div class="container">
    <div class="rov">
      <div class="col-lg-10 col-md-19 col-sm-20 col-xs-35 logo">
        <a
          href="https://www.inizio.cz/"
          alt="www.inizio.cz"
          target="_blank"
          rel="noreferrer noopener"
        >
          <img
            src="https://www.inizio.cz/page/img/pic/logo.png"
            alt="logo.png"
            title="Logo"
            class="png"
          />
        </a>
      </div>
    </div>
  </div>
</header>
