<section class="hero">
  <h1>Praktický test od INIZIO</h1>
  <form id="search-form" method="post" action="/">
    <label for="search">Vyhledávání pomocí Google</label>
    <input
      type="search"
      id="search"
      name="search"
      placeholder="Napiste, co hledate"
      required
    />
    <button class="full-width" type="submit">Hledat</button>
  </form>
</section>
